body {
  margin: 0;
  padding: 25px 10%;
  font-family: sans-serif;
}

.person {
  border: 1px solid #000;
}

.selected {
  background: red;
}

.modal {
  position: absolute; 
  top: 155px;
  left: 0;
  right: 0;
  z-index: 500;
  margin: 0 auto;
  background: #444;
  color: #fff;
  padding: 50px;
  width: 450px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}